* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #a8ffac;
	position: relative;
	padding-bottom: 6%;

}
main-menu {
	display: block;
	float: left;
	width: 100%;
}
#menu-list {
	list-style-type: none;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #a9a8ff;
	padding-top: 4px;
	padding-bottom: 4px;
}
#ou{
	height: 2.9em;
	padding-left: 2px;
}
#logo {
	display: inline-block;
	background-color: white;
	font-family: Trebuchet MS;
	vertical-align: middle;
}
#walking-club{
	padding: 1px;
	font-size: 1em;
}
li {
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	background-color: #ff5d1d;
	border-radius: 4px;
	vertical-align: middle;
}
li a {
	height: 2em;
	font-size: 2em;
	font-family: Trebuchet MS;
	color: yellow;
	padding-left: 2px;
	padding-right: 2px;
	overflow: hidden;
}
li a:hover {
	text-overflow: inherit;
	overflow: visible;
	background-color: white;
	color: #ff5d1d;
}
.info{
	font-size: 12px;
	font-family: arial;
	margin-left: 40%;
	color: #D0FFD0;
}
.data-sent{
font-size: 12px;
font-family: arial;
margin-left: 40%;
color: blue;
}
#search-div{
	margin: 2%;
	font-size: 18px;
	font-family: Trebuchet MS;
	background-color: grey;
	padding-bottom: 8px;
	border-radius: 9px;

}
#search-input{
	width: 30%;
	margin-top: 12px;
	font-size: 18px;
	font-family: Trebuchet MS;
}

}
fieldset {
	margin: 2px;
	padding: 2px;
	border-color: white;
	border-radius: 9px;
	border-width: 8px;
	border-style: solid;
}
legend {
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 3%;
	font-size: 25px;
	font-family: Trebuchet MS;
	padding-left: 1%;
	padding-right: 1%;
}
#add-walk-form {
	margin: 2%;
	font-size: 18px;
	font-family: Trebuchet MS;
}
label {
	float: left;
	width: 8em;
	margin-top: 12px;
	clear: left;
	margin-left: 27%
}
#input {
	width: 30%;
	margin-top: 12px;
	font-size: 18px;
	font-family: Trebuchet MS;
}
#button {
	text-align: center;
}
#submit-button {
	margin-right: auto;
	margin-left: auto;
	margin-top: 12px;
	font-size: 18px;
	padding: 2px;
	font-family: Trebuchet MS;
}
*:focus {
	color: #000;
	background: #faec71;
}
#feilds {
	margin: 1%;
}
#ok-div{
	text-align: center;
	padding-top: 4px;
}
#ok-button{
	border-radius: 12px;
	background-color: #008CBA;
	width: 10%;
	height: 40px;
	font-size: 20px;
	color: white;
	margin-top: 8px;
}
#results {
	display: block;
	overflow-x: auto;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
	margin-left: 5%;
}
#results td, #results th {
	border: 1px solid #ddd;
  padding: 8px;
}
#results tr:nth-child(even){
	background-color: #f2f2f2;
}
#results tr:hover {
	background-color: #ddd;
}
#results th {
	padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #238e8d;
  color: white;
	padding-left: 2px;
	padding-right: 2px;
}
#searching{
	margin-left: 10%;
	margin-bottom: 4px;
}
footer{
	background-color: #222222;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 6%;
	padding-top: 1%;
}
#copywrite{
	border: unset;
	background-color: unset;
	color: white;
}
#contact, #contact a{
	border: unset;
	background-color: unset;
	font-size: unset;
	font-family: unset;
	color: white;
}
.social, .social a {
	border: unset;
	background-color: unset;
	color: white;
	height: unset;
	font-size: unset;
}
.social a:hover {
	text-overflow: unset;
	overflow: unset
	background-color: unset;
	color: unset;

/* Media query Start*/
@media screen and (max-width: 500px) {
	#ou {
		height: 5em;
	}
	#walking-club{
		font-size: 1.6em;

	}
	li {
		width: 100%;
		margin-right: 2px;
		float: left;
		font-size: 0.6em;
		margin-top: 1px;
	}
	fieldset {
		border-width: 3px;
	}
	legend {
		font-size: 18px
	}
	label {
		font-size: 14px;
		margin-left: 2%;
	}
	#search-input {
		font-size: 14px;
		width: 50%;
	}
	#input {
		font-size: 14px;
		width: 50%;
	}
	#feilds {
		margin: 0;
		font-size: 14px;
	}
	#submit-button {
		font-size: 14px;
		margin-left:45%;
	}
	#logo{
		text-align: center;
	}
	span{
		margin-right: auto;
	    margin-left: auto;
	}
	.info{
		font-size: 10px;
		margin-left: 2%;
	}
	}
}
